  html,body{
    width: 100%
    height: 100%
    margin:0;
/*    cursor: url(https://upload.wikimedia.org/wikipedia/commons/c/c6/Moon_symbol_decrescent.svg), pointer;*/
overflow:scroll;

}

.upper {
  pointer-events: none;
}

.wrapper{
padding-top: 3%;
  margin-left: 10%;
  position: fixed;
  width: 40%;
  height: auto;
/*  border: 3px solid green;*/
}


.text{
  font-family: ;
margin-top: 15px;
font-size: 15pt;
line-height: 30pt;
letter-spacing: 4px;
position: relative;
overflow: scroll;
color: black;
}


.circle{
	top: 10px;
	position: absolute;
	left: 50%;
 height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.circle:hover{
	background-color: #4682B4;
}

.upper {
    position: absolute;
    left: 0;
    right: 0;
}

.upper {
    top: 0;
    height: 60%;
/*    background-color: pink; */ 
}

.box{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: fixed;
  right: 10%;
  top: 45%;
}

.content{
  font-family: gravity;
  font-size: 8pt;
  line-height: 2;
}
.lower{
    left: 0;
    bottom: 0;
    height: 40%;
    width: 100%;
    background-color: white; 
    position: fixed;  

}

.names{
  font-family: Baskerville;
  font-size: 100pt;
  line-height: 85pt;
  letter-spacing: 3px;
  text-align: right;
}

.title{
  padding-right: 4%;
  padding-top: 2%;

  color: #778899;;
}

/*.title:hover{
  color: black;
}*/

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}





